<!DOCTYPE html>
<html>

<head>
  <title>ISS Space</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
    crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
    crossorigin=""></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/styles/reset.css" />
  <link rel="stylesheet" type="text/css" href="/styles/styles.css" />
  <link rel="stylesheet" type="text/css" href="/styles/wickedcss.min.css">
  <style>
    @import url('https://fonts.googleapis.com/css?family=Poiret+One');
  </style>
</head>
<!-- <audio controls autoplay loop>
    <source src="./Metro Boomin - Space Cadet (Instrumental).mp3" type="audio/ogg">
    <embed src="./Metro Boomin - Space Cadet (Instrumental).mp3" autostart="true" loop="true" hidden="true"> -->
      <!-- <iframe src="/styles/assets/Metro Boomin - Space Cadet (Instrumental).mp3" allow="autoplay" style="display:none" id="iframeAudio"> -->
<!-- </iframe>  
  </audio> -->
<body>
  <section class="bigcontainer">
    <nav>

      <ul>
        <li class="fadeIn">ISS SPACE TRACKER </li>
        <!-- <li><a href="">Go to bottom of page </a></li>  -->
        <img src="/styles/assets/ISS.png" class="floater" alt="ISS">
      </ul>
    </nav>

    <p id="introp">The International Space Station is a space station, or a habitable artificial satellite, in low Earth orbit moving at close to 28,000 km/h. In 24 hours, the space station makes 16 orbits of Earth, traveling through 16 sunrises and sunsets so its location changes really fast! Type in your location to find out the next time it passes!
    </p>

    <section class="mapContainer">
      <div id="map"></div>
    </section>

    <section class="searchContainer">
      <form id="searchForm">
        <h3 id="searchLabel">Enter a location to see when you can view the ISS</h3>
        <input id="inputLoc" type="text" name="search_field" placeholder="Enter location" required>
        <button id="locButton" type="submit">Search!</button>
      </form>
    </section>

    <main>
      <div class="container2">
        <div class="box left">
          <div class="separate">
            <h2>CURRENT WEATHER</h2>
          </div>
          <div class="innerbox1">
            <ul id="left-ul" class="fadeIn"></ul>
            <ul id="bottom-ul"></ul>
            <li><img src="" id="weather"> </li>
          </div>
        </div>

        <div class="box mid">
          <div class="separate">
            <h2>LOCATION RESULTS & NEXT PASSINGS</h2>
          </div>
          <div class="innerbox1">
              <ul id="mid-ul" class="fadeIn"></ul>
          </div>
        </div>

        <div class="box right">
          <div class="separate">
            <h2>CURRENT ISS CREW</h2>
          </div>
          <div class="innerbox1">
              <ul id="right-ul" class="fadeIn"></ul>
          </div>
        </div>
      </div>

    </main>
    <p id="authors">Meet The Team</p>
    <div class="flipcontainer">
      <div class="flipwrapper">
      <div class="flip3d">
        <div class="back"><a href="https://github.com/bigrig72">Regan Dufort</a></div>
        <div class="front" id="regan"></div>
      </div>
      <div class="flip3d">
          <div class="back"><a href="https://github.com/mbgoseco">Mike Goseco</a></div>
          <div class="front" id="mike"></div>
        </div>
        <div class="flip3d">
            <div class="back"><a href="https://github.com/drewsview34">Andrew Hinojosa</a></div>
            <div class="front" id="andrew"></div>
          </div>
          <div class="flip3d">
              <div class="back"><a href="https://github.com/rynnnaa">Ryna Truong</a></div>
              <div class="front" id="ryna"></div>
            </div>
          </div>
    </div>

    <footer>
      <section class="bottom"></section>

    </footer>
  </section>
</body>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkUOdZ5y7hMm0yrcCQoCvLwzdM6M8s5qk&libraries=geometry"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="scripts/app.js"></script>
</html>