<!DOCTYPE <!DOCTYPE html>
<html>

<head>
  <title>space intro</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/styles/planet.css" />
</head>
<body>
  <section class="earth">
    <img id="img1" src="styles/assets/newEarth.png">

  </section>

  <section class="sun">

  </section>







</body>
<script>
    setTimeout(function () {
       window.location = "/home";
    }, 3000)
  </script>
</html>