 <!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
 
  <link rel="stylesheet" href="/styles/planet.css" />
   <title>space intro</title>
</head>
<body> 
  <iframe src="/styles/assets/audio.mp3" allow="autoplay" style="display:none" id="iframeAudio"></iframe>
  <div id="container">
    <div id="earth"></div>
    <div id="iss"></div>
  </div>
  <section class="sun">
  </section>  
</body>
<script>
    setTimeout(function () {
      window.location = "/home";
    }, 25000)
  </script>
</html>