#title {
  font-family: 'Poiret One', cursive;
  font-weight: bolder;
}

#introp {
  padding: 60px;
  text-align: center;
  color: whitesmoke;
  font-weight: bolder;
  font-size: xx-large;
  font-family: 'Oxygen Mono', monospace;
}

header {
  background: transparent;
  height: 10vw;
  width: 100%;
  align-items: center;
  box-shadow: 0 5px 5px #ffa8e5d7;;
}

header li {
  list-style: none;
  font-weight: bolder;
  color: #ffa8e5d7;
  text-align: center;
  font-size: 4vw;
}

header ul li a {
  text-decoration: none;
  color: #ffa8e5d7;
  font-size: 2vw;
}

header ul img {
  display: block;
  margin: 0 auto;
}

nav {
  /* width: 100vw; */
  margin-top: 5vh;
  height: 8vh;
  text-align: center;
  font-size: 3.5vh;
  font-weight: bolder;
}

.scroll-link {
  background-color:rgba(0, 0, 0, 0.5);
  text-decoration: none;
  box-shadow: 0 0 35px mediumpurple;
  border-radius: 23px;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  transition: 0.33s;
}

.scroll-link:hover {
  box-shadow: 0 0 35px rgb(255, 255, 71);
}

.mapContainer {
  width: 100%;
  height: 70%;
  box-shadow: 0px 5px 5px #ffa8e5d7;;
  background: transparent;

}

#map {
  padding: 20%;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 13vh;
  border-radius: 50%;
}

.current {
  font-family: 'Oxygen Mono', monospace;
  padding: 0;
}

.container2 {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 10vw;

}

.box {
  margin: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
  overflow: hidden;
  border: 3px solid rgb(36, 122, 235);

}

.box .innerbox1 {
  background: transparent;
}

.left,
.mid,
.right {
  background-color:rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: bold;
  width: 35vw;
}

.box .separate h2 {
  color: #ffa8e5d7;
  text-align: center;
  font-size: xx-large;
  font-family: 'Oxygen Mono', monospace;
}

.innerbox2 p {
  color: #ffa8e5d7;
  text-align: center;
  font-size: 1vw;
  font-family: -webkit-body;
  padding-top: 50px;
  font-style: italic;
}

#weather-icon {
  text-align: center;
  padding: 0;
}

.searchContainer {
  /* width: 100vw; */
  height: 13vh;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 1.25em;
  margin: 14px auto;
}

#searchLabel {
  padding-bottom: 8vh;  
  color: whitesmoke;
  font-size: xx-large;
}

#inputLoc {
  border-radius: 7px;
  box-shadow: 0px 0px 35px rgb(36, 122, 235);
  background-color:rgba(0, 0, 0, 0.5);
  border: transparent;
  text-align: center;
  color: white;
  font-size: 2em;
  font-weight: bolder;
  padding: 6px;
}

#locButton {
  padding: 6px;
  padding-bottom: 1px;
  border-radius: 8px;
  box-shadow: 0px 0px 35px  rgb(36, 122, 235);
  background-color:rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 2em;
  font-family: sans-serif;
  font-weight: bold;
  transition: 0.33s
}

#locButton:hover {
  box-shadow: 0 0 35px rgb(255, 255, 71);
}

.box .innerbox2 {
  width: 100%;
  height: 30%;

}

#mid-ul,
#right-ul,
#left-ul {
  font-family: 'Oxygen Mono', monospace;
  font-size: large;
  text-align: center;
  padding: 1vw;
}

ul#mid-ul {
  font-size: xx-large;
  padding: 2vw;
}

ul#right-ul {
  font-size: 3em;
  padding: 5vw;
  padding-top: 35px;
}

ul#left-ul {
  font-family: 'Oxygen Mono', monospace;
  font-size: 2em;
  padding: 1vw;
  padding-top: 40px;
}

#authors {
  padding: 30px;
  text-align: center;
  color: #ffa8e5d7;
  font-weight: bolder;
  font-size: 3em;
  font-family: 'Oxygen Mono', monospace;
}

footer {
  height: 33vh;
  width: 100%;
  bottom: 0;
  background-image: url('../styles/assets/moondark.png');
  background-repeat: no-repeat;
  background-size: cover;
}