.bigcontainer {
  position: relative;
  padding: 0;
  margin: 0px auto;
  background-color: #000;
  background-image: url('../styles/assets/newEarth.png'), url('../styles/assets/empty-stars.png'), url('../styles/assets/stars4.jpg');
  background-position: -120% 70px, 0px 0px, 0px 0px;
  background-repeat: no-repeat, repeat, repeat;
  animation: animate-background linear 50s infinite;
}

@keyframes animate-background {
  from {
    background-position: 120% -1vw, 0px 0px, 0px 0px;
  }

  to {
    background-position: -20% 1vw, -1000px 0px, -500px 0px;
  }
}

#ryna,
#andrew,
#mike,
#regan {
  background-repeat: no-repeat;
}

#ryna {
  background-image: url('../styles/assets/profilepic.jpg');
}

#andrew {
  background-image: url('../styles/assets/drew.jpg');
}

#mike {
  background-image: url('../styles/assets/IMG956438.jpg');
}

#regan {
  background-image: url('../styles/assets/Capture.PNG');
}

.back {
  padding: 30px;
  text-align: center;
  color: white;
  font-size: x-large;
  box-sizing: border-box;
  border: groove;
  font-size: 50px;
  font-family: 'Oxygen Mono', monospace;
}

.front {
  text-align: center;
  color: rgb(36, 122, 235);
  font-size: xx-large;
  box-sizing: border-box;
  font-weight: bolder;
  border: groove;
}

.bigcontainer .flipcontainer div.front {
  background-size: 100%;
  height: 15vw;
}

div.back {
  height: 15vw;
}

.flipcontainer {
  height: 28vh;
}

.flipwrapper {
  margin: 0 auto;
  height: 55%;
  width: 100%;
  margin-top: 2vw;
  display: flex;
  justify-content: center;

}

.flip3d {
  width: 25%;
  height: 20%;
  margin: 10px;
  float: left;
}

.flip3d>.front {
  position: absolute;
  -webkit-transform: perspective(600px) rotateY(0deg);
  transform: perspective(600px) rotateY(0deg);
  background: #ffa8e5d7;
  width: 20%;
  height: 20%;
  border-radius: 7px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: -webkit-transform .3s linear 0s;
  transition: transform .5s linear 0s;
}

.flip3d>.back {
  position: absolute;
  -webkit-transform: perspective(600px) rotateY(180deg);
  transform: perspective(600px) rotateY(180deg);
  background: rgb(42, 31, 92);
  width: 20%;
  height: 15vw;
  border-radius: 7px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: -webkit-transform .1s linear 0s;
  transition: transform .5s linear 0s;
}

.flip3d:hover>.front {
  -webkit-transform: perspective(600px) rotateY(-180deg);
  transform: perspective(600px) rotateY(-180deg);
}

.flip3d:hover>.back {
  -webkit-transform: perspective(600px) rotateY(0deg);
  transform: perspective(600px) rotateY(0deg);
}